{{#if errorMessages.length}}
<p>Couln't add the question because:</p>
<ul>
    {{#each errorMessages}}
    <li> {{this}} </li>
    {{/each}}
</ul>
{{/if}}
<section class="contact-page-section">
    <div>
        Phone: 070 123 45 67
    </div>
    <div>
        Email: alibabaExpress@gmail.com
    </div>
    <div>
        Address: skolgatan 39B, 555 43, Jönköping
    </div>
    <h1 class="contact-page-form-title"> Ask questions right here with <a href="/add-question">this</a> form!</h1>

    <div class="contact-page-questions">
        <h1 class="contact-page-questions-title"> Questions</h1>

        <ul class="contact-page-questions-ul">
            {{#if isLoggedIn}}
            {{#each questions}}
            <li class="contact-page-questions-li">
                <a href="/manage-question/{{questionID}}">Q:{{this.question}}</a>
                <p><a href="/manage-question/{{questionID}}">From: {{this.name}}, {{this.email}}, {{this.date}}</a></p>
                <p>{{#if this.answer}} A: {{this.answer}} {{/if}}</p>

            </li>
            {{/each}}
            {{else}}
            {{#each questions}}
            <li class="contact-page-questions-li">Q: {{this.question}}</li>
            <p>From: {{this.name}}, {{this.email}}, {{this.date}}</p>
            <p>{{#if this.answer}} A: {{this.answer}} {{/if}}</p>
            {{/each}}
            {{/if}}
        </ul>
    </div>
</section>