{{#if errorMessages.length}}
<p>Couln't send the message because:</p>
<ul>
    {{#each errorMessages}}
    <li> {{this}} </li>
    {{/each}}
</ul>
{{/if}}
<section class="contact-class">
    <div>
        Phone: 070 123 45 67
    </div>
    <div>
        Email: alibabaExpress@gmail.com
    </div>
    <div>
        Address: skolgatan 39B, 555 43, Jönköping
    </div>
    <h1 class="contactPageFormTitle"> Ask questions right here with <a href="/add-message">this</a> form!</h1>

    <div class="contact-page-messages">
        <h1 class="contact-page-messages-title"> Messages</h1>

        <ul class="contact-page-messages-ul">
            {{#if isLoggedIn}}
            {{#each messages}}
            <li class="contact-page-messages-li">
                <a href="/manage-message/{{id}}">{{this.message}}</a>
                <p><a href="/manage-message/{{id}}">From: {{this.name}}, {{this.email}}</a></p>
                
            </li>
            {{/each}}
            {{else}}
            {{#each messages}}
            <li class="contact-page-messages-li">{{this.message}},{{this.namn}}, {{messages.email}}</li>
            {{/each}}
            {{/if}}
        </ul>
    </div>
</section>