{{#if project}}
<section class="project_page">
    <p> <img src="/{{project.image}}" alt="" class="project_img"></p>
    <p class="project_page_title">{{project.title}}</p>
    <p class="project_page_description">{{project.description}}</p>

    <div class="projectPageComments">
        <h1 class="projectPageCommentsTitle"> Comments and feedback </h1>
        <ul class="projectPageCommentsUL">
            {{#each comments}}
            <li class="projectPageCommentsLI">{{this.comment}}</li>
            {{/each}}
        </ul>
        <!--
        <ul class="projectPageCommentsUL">
            {{#if isLoggedIn}}
            {{#each comments}}
            <li class="projectPageCommentsLI"> 
                <a href="/manage-comment/{{cID}}">{{this.comment}}</a>
            </li>
            {{/each}}
            {{else}}
            {{#each comments}}
            <li class="projectPageCommentsLI">{{this.comment}}</li>
            {{/each}}
            {{/if}}
        </ul>
        -->
    </div>

    {{#if isLoggedIn}}
    <button> <a class="project_page_update_link" href="/update-project/{{project.id}}">Update</a> </button>

    <form action="/delete-project/{{project.id}}" method="POST">
        <input type="submit" value="Delete Project">
    </form>
    {{/if}}
    <button> <a class="project_page_update_link" href="/add-comment/{{project.id}}">Add comment</a> </button>

    {{else}}
    <p>This project don't exist</p>
</section>
{{/if}}