<!-- {{#if dbError}}
<h1>Can't display any projects. Try again later. </h1>
{{else}} -->
{{#if errorMessages.length}}
<p>Couldn't fetch the projects because: </p>
<ul>
    {{#each errorMessages}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{else}}
{{#if projects.length}}
<section id="projects">
    <div class="row">
        <h1 class="section_title">
            Here are some of my projects
        </h1>
        <ul class="project_list">
            {{#each projects}}
            <li class="project">
                <div class="project_wrapper">
                    <img src="{{image}}" alt="" class="project_img" />
                    <div class="project_wrapper-bg"></div>
                    <div class="project_description">
                        <h3 class="project_description-title">
                            <a class="aaa" href="/projects/{{id}}">{{title}}</a>
                        </h3>
                        <h4 class="project_description-sub-title">
                            {{description}}
                        </h4>
                        <p class="project_description-para">
                        </p>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
{{else}}
<p> There is currently no projects to display. </p>
{{/if}}
{{/if}}
{{/if}}