{{#if project}}
<section class="project_page">
    <p> <img src="/{{project.image}}" alt="" class="project_img"></p>
    <p class="project_page_title">{{project.title}}</p>
    <p class="project_page_description">{{project.description}}</p>

    <button> <a class="project_page_update_link" href="/update-project/{{project.id}}">Update</a> </button>

    <form action="/delete-project/{{project.id}}" method="POST">
        <input type="submit" value="Delete Project">
    </form>

    {{else}}
    <p>This project don't exist</p>
</section>
{{/if}}