{{#if project}}
<section class="project-page-section">
    <p> <img src="/{{project.image}}" alt="" class="project-page-image"></p>
    <p class="project-page-title">{{project.title}}</p>
    <p class="project-page-description">{{project.description}}</p>

    <div class="project-page-comments">
        <h1 class="project-page-comments-title"> Comments and feedback </h1>
        <ul class="project-page-comments-ul">
            {{#if isLoggedIn}}
                {{#each comments}}
                <li class="project-page-comments-li">
                    <a href="/manage-comment/{{commentID}}">{{this.comment}}</a>
                </li>
                {{/each}}
                {{else}}
                {{#each comments}}
                    <li class="project-page-comments-li">{{this.comment}}</li>
                {{/each}}
            {{/if}}
         </ul>
    </div>

    {{#if isLoggedIn}}
    <button> <a class="project-page-update-link" href="/update-project/{{project.projectID}}">Update</a> </button>
    
    <form action="/delete-project/{{project.projectID}}" method="POST">
        <input type="submit" value="Delete Project">
    </form>
    {{/if}}

    <button> <a class="project-page-update-link" href="/add-comment/{{project.projectID}}">Add comment</a> </button>

    {{else}}
    <p>This project don't exist</p>
</section>
{{/if}}