<!-- {{#if dbError}}
<h1>Can't display any projects. Try again later. </h1>
{{else}} -->
{{#if errorMessages.length}}
<p>Couldn't fetch the projects because: </p>
<ul>
    {{#each errorMessages}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{else}}
{{#if projects.length}}
<section class="projects-page-section">
    <div class="projects-page-row">
        <h1 class="projects-page-title">
            Here are some of my projects
        </h1>
        <ul class="projects-page-list">
            {{#each projects}}
            <li class="projects-page-project">
                <img src="{{image}}" alt="" class="projects-page-project-image" />
                <h3 class="projects-page-project-title">
                    <a href="/projects/{{id}}">{{title}}</a>
                </h3>
                <p class="projects-page-project-description"> {{description}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
{{else}}
<p> There is currently no projects to display. </p>
{{/if}}
{{/if}}
{{/if}}