{{#if errorMessages}}
	{{> errors}}
{{else}}
{{#if resultsExist}}
<ul class="searchResultsList">
	{{#if projectsResults}}
		<h1>Projects that match your search</h1>
	{{#each projectsResults}}
	<li>
		<img src="/uploads/{{image}}" alt="" class="projectsPageProjectImage" />
		<p class="searchResultsPageProjectTitle"><a href="/projects/{{projectID}}">{{title}}</a></p>
		<p class="searchResultsPageProjectDescription"> {{description}}</p>
	</li>
	{{/each}}
	{{/if}}
	{{#if questionsResults}}
		<h1>Questions that match your search</h1>
	{{#each questionsResults}}
	<li class="searchResultsForFAQ">
		<p class="searchResultsPageQuestion">Q: {{this.question}}</p>
		<p class="searchResultsPageQuestion">From: {{name}}, {{date}}</p>
		<p class="searchResultsPageAnswer" >{{#if answer}} A: {{answer}} {{/if}}</p>
	</li>
	{{/each}}
	{{/if}}
	{{#if commentsResults}}
		<h1>Comments that match your search</h1>
	{{#each commentsResults}}
	<li>
		<p>{{this.comment}}</p>
	</li>
	{{/each}}
	{{/if}}
</ul>
{{else}}
	<h1>No results for your search</h1>
{{/if}}
{{/if}}